body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #222;
}

p {
    text-align: justify;
}


header {
    background: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

footer a {
    text-decoration: none;
}